apiVersion: batch/v1
kind: Job
metadata:
  name: risk-ingestion-job
  namespace: data-platform
spec:
  template:
    spec:
      containers:
        - name: ingestion
          image: risk-ingestion:1.0
          imagePullPolicy: IfNotPresent
      restartPolicy: Never
  backoffLimit: 1
